<h1>Edit Article</h1>
<%= form_for(@article) do |f| %>
  <p>
    <%= f.label :"article[title]"  %><br />
    <%= f.text_field :title  %>
  </p>
  <p>
    <%= f.label :"article[description]" %><br />
    <%= f.text_area :description  %>
  </p>
  <p>
    <%= f.submit "Submit Article"%>
  </p>
<% end %>