<h1>Edit Article Form</h1>
<%#= form_tag articles_path do %>
<%= form_for @article do |f|%>
    <!--<label>Article title:</label> <br> 
    <%= text_field_tag :title %> <br>-->
    <%=f.label 'Article title:'%> <br>
    <%=f.text_field :title%> <br>

    <!--<label>Article Description:</label> <br>
    <%= text_area_tag :description%> <br>-->
    <%= f.label 'Article Description:'%> <br>
    <%= f.text_field :description %> <br>

    <%#= submit_tag "Submit Article"%>
    <%= f.submit "Submit Article"%>
<% end %>